<html size="8.5in 11in" style="margin:0; padding:0;">

<head>
  <title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
    <meta charset="UTF-8">
    <title>Patient Visit Summary</title>
</head>

<body>
  <div class="header">
      <%= image_tag wicked_pdf_asset_base64("logo.png"), alt: "Starfield Logo"%>
      <h1 style="display: inline-block; margin-left: 20px"> starfield health </h1>
  </div>

  <div class="main-wrapper"> 

    <div style="margin-bottom: 20px; font-size: 18px;"> 
      <div style="float:left">Patient Visit Summary</div>
        <div style="float:right"> <%= @encounter.created_at.strftime('%m/%d/%Y') %>
      </div>
      <div style="clear:both;"></div>
    </div>

    <div class="gray-box">
      <div style="float:left; width:max-content; white-space: nowrap;"> <%= @patient.last_name + ", " + @patient.first_name %> </div>
      <div style="float:right">MRN: <b> <%= @patient.mrn_number %> </b> </div>
      <div style="clear:both;"></div>
    </div>

    <% if @instructions %>
    <div class="gray-box">
      <div class="title">Instructions from <%= @provider.name %>
      </div>
      <p> <%= sanitize @instructions %> </p>
    </div>
    <% end %>

    <% if @medications %>
    <div class="gray-box medication-list">
      <div class="title">Medication List</div>
        <% @medications&.each do |medication| %>
        <div class="medication-name" style="float:left; white-space: nowrap;"> <%= medication.name %> </div>
        <div style="float:right; white-space: nowrap;"> <%= medication.value %> </div>
        <div style="clear:both;"></div>
        <% end %>
    </div>
    <% end %>
</body>

</html>